%h1 User Sign up

= form_tag users_path do

  = label :user, :user_id, 'User-ID'
  = text_field params[:user_id], 'user_id', :id => 'signupUser'

  = label :user, :email, 'E-mail'
  = text_field params[:email],'email'

  = label :user, :password, 'Password'
  = text_field params[:password], 'Password'

  = label :user, :password, 'Verify Password'
  = text_field params[:verify_password], 'Verify Password'

  = submit_tag 'Create my account'
