%h1 User Sign up

= form_tag users_path do

  = label :user, :user_name, 'User-ID'
  = text_field :user, 'user_name'

  = label :user, :email, 'E-mail'
  = text_field :user, 'email'

  = label :user, :password, 'Password'
  = password_field :user, 'password'

  = label :verify_password, 'Verify Password'
  = password_field :verify_password, params[:verify_password]

  = label :user, :country, 'Country:'
  = select_tag :country,options_for_select(['Canada', 'The Moon', 'Mars', 'Rhode Island'])


  = submit_tag 'Create my account'
