!!!
%html
  %head
    %title User Homepage
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title Welcome to your homepage, User!

%h1 Go to main page
= button_to 'Main Page', searches_path, :method => :get

%h1 Options

%h1 Saved Topics
%table#saved_searches
  %thead
    %tr
      %th Search Term
      %th Geographical Restriction
      %th Search Date
      %th Additional Details
      %th Delete Term
  %tbody
    -#this will probably be problematic with multiple users but for now it's aight
    - if !@user_saved_topics.nil?
      - @user_saved_topics.each do |print|
        %tr
          %td= print.search_term
          %td= print.from_date
          %td= print.to_date
          %td= print.number_of_tweets


%h1 Search History

#graph2{:style => "width:700px;height:220px;"}
  = content_tag 'div', '', id: 'data', data: {key1: @graph_data, key2: 'val2'}

:javascript
    graph = document.getElementById('graph2');
    all_data = $('#data').data('key1');
    var initial;
    for(initial = 0; initial<all_data.length; initial++)  {

    var data = all_data[initial];
    //Create an array for the x and y values
    var dates = new Array();
    var y_vals = new Array();
    //Array of all traces
    var data_arr = new Array();
    console.log("heres the message" + data.toString());
    //Iterate over the JSON and push the elements into appropriate arrays
    var next;
    for (next = 0; next < data.length; next++){
      dates.push(data[next]['date']);
      y_vals.push(data[next]['value']);

    }

    //Place the data into a trace
    var trace = {
    x: dates,
    y: y_vals,
    mode: 'lines+markers'};

    data_arr.push(trace);

    var div = document.createElement('div');
    document.getElementById('graph2').appendChild(div)
    Plotly.plot(div, data_arr);
    }
