!!!
%html
  %head
    %title User Homepage
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    - if @at_users_home
      %h1.title Welcome to your homepage!
    - else
      %h1.title Welcome to the homepage of #{@user_friend_name} !

%h1 Options
- if @at_users_home
  %li
    = link_to 'Add a friend!', add_friend_path

  = form_tag update_country_path do
    = label :user, :country, 'Update Country'
    = select_tag :country,options_for_select(['Canada', 'The Moon', 'Mars', 'Rhode Island'])

    = submit_tag 'Update Country'


  %h1 Friends List
  %table#friends
    %thead
      %tr
        %th Friends User Name
        %th Friends Profile Page
    %tbody
      - if !@user_friends.nil?
        - @user_friends.zip(@user_friends_ids).each do |curr_friend, curr_friend_id|
          %tr
            %td= "#{curr_friend}"
            %td= link_to "Go to #{curr_friend}'s profile page ", user_path(curr_friend_id)


%h1 Saved Topics
%table#saved_searches
  %thead
    %tr
      %th Search Term
      %th Geographical Restriction
      %th Search Date
      %th Additional Details
      %th View Search
  %tbody
    - if !@user_saved_topics.nil?
      - @user_saved_topics.zip(@search_hashes).each do |print, search|
        %tr
          %td= print.search_term
          %td= print.from_date
          %td= print.to_date
          %td= print.number_of_tweets
          %td= button_to 'View This Search!', go_to_search_path(:search_id => search[:id])




%h1 Search History
%table#search_history
  %thead
    %tr
      %th View Previous Search
  %tbody
    - if !@history_search_hashes.nil?
      - @history_search_hashes.each do |search|
        %tr
          %td= button_to 'View Previous Search!', go_to_search_path(:search_id => search[:id])
- # #graph2
- # = content_tag 'div', '', id: 'data', data: {key1: @graph_data}
- # %script(src="show-history.js" type="text/javascript")
