!!!
%html
  %head
    %title User Homepage
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title Welcome to your homepage!

%h1 Options
%li
  = link_to 'Add a friend!', add_friend_path

%h1 Friends List
%table#friends
  %thead
    %tr
      %th Friends User Name
      %th Friends Profile Page
  %tbody

%h1 Saved Topics
%table#saved_searches
  %thead
    %tr
      %th Search Term
      %th Geographical Restriction
      %th Search Date
      %th Additional Details
      %th Delete Term
  %tbody
    -#this will probably be problematic with multiple users but for now it's aight
    - if !@user_saved_topics.nil?
      - @user_saved_topics.each do |print|
        %tr
          %td= print.search_term
          %td= print.from_date
          %td= print.to_date
          %td= print.number_of_tweets


%h1 Search History

#graph2
  = content_tag 'div', '', id: 'data', data: {key1: @graph_data}
  %script(src="show-history.js" type="text/javascript")
