
%body
  %h1.title Welcome to the main page of The Emotions of Twitter! Enjoy!

%h1 Search Keyword

= form_tag searches_create_path do

  = label :searches, :search_term, 'Keyword'
  = text_field :searches, 'search_term'

  = select_tag :time, options_for_select([['Past day', '1'], ['Past two days', '2'], ['Past three days', '3'], ['Past four days', '4'], ['Past five days', '5'], ['Past six days', '6'], ['Past week', '7']])

  = submit_tag 'Search'

%h1 Current Search
%table
  %thead
    %tr
      %th Search Term
      %th From
      %th To
      %th Number of Associated Tweets
  %tbody
    -#this will probably be problematic with multiple users but for now it's aight
    - if !@user_searches.nil?
      - if !@current_user.nil? && Searches.last.user_id == @current_user.id
        %tr
          %td= Searches.last.search_term
          %td= Searches.last.from_date
          %td= Searches.last.to_date
          %td= Searches.last.number_of_tweets
          %td= button_tag "save topic", :id => "button_#{Searches.last}"


%h1 Past Searches

%table
  %thead
    %tr
      %th Search Term
      %th From
      %th To
      %th Number of Associated Tweets
  %tbody
    -# this should also be handled by the controller but since
    -# this is just a place holder for the graphs it's aight
    - if !@user_searches.nil? && !@current_user.nil?
      - @user_searches.each do |search|
        - if search.user_id == @current_user.id
          %tr
            %td= search.search_term
            %td= search.from_date
            %td= search.to_date
            %td= search.number_of_tweets



%h1 Popular search terms

%table#popular
  %thead
    %tr
      %th Search Term
      %th Geographical Restriction
      %th Search Date
      %th Additional Details
  %tbody



    #main
      - if flash[:notice]
        #notice.flashMessage= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
