!!!
%html
  %head
    %title The Emotions of Twitter!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title The Emotions of Twitter!
    - if !@current_user
      = button_to 'Sign up/Login', login_path, :method => :get, :id => 'signupLogin'
    - else
      = button_to 'Logout', logout_path, :method => :delete, :id => 'logout'
      = link_to 'Return to Homepage', user_path(@current_user.id)

    #main
      - if flash[:notice]
        #notice.flashMessage= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
