!!!
%html
  %head
    %title The Emotions of Twitter!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'plotly-latest.min'
    = csrf_meta_tags

  %body
    %header
      #navContainer
        %h1.title The Emotions of Twitter!
        %nav
          %ul#navBarList
            %li
              = link_to 'Main Page', root_path
            - if !@current_user
              %li
                = link_to 'Login/Sign up', login_path, :method => :get, :id => 'userLogging'
              %li
                = link_to 'Sign in with Google', "/auth/google_oauth2/"
            - else
              %li
                - profile_string = @current_user.user_name + "'s Profile"
                = link_to profile_string, user_path(@current_user.id), :id => 'profile_link'
              %li
                = link_to 'Logout', logout_path, :method => :delete, :id => 'userLogging'



    #main
      = yield
